:root {
  --color-black: #333333;
  --color-white: #ffffff;
  --color-total-black: #222121;
  --color-aqua: #4BDADA;
  --color-aqua-dark: #00E1D1;
  --color-beige: #b4ae9c;
}

:root {
  --color-background: var(--color-black);
  --color-background-dark: var(--color-total-black);
  --color-accent: var(--color-aqua);
  --color-accent-dark: var(--color-aqua-dark);
  --color-text: var(--color-white);
  --color-dark-text: var(--color-total-black);
  --color-border: var(--color-white);
}

[color-theme= 'light'] {
  --color-background: #e0e0e0;
  --color-background-dark: #d3e1e1;
  --color-accent: #4b9a9a;
  --color-accent-dark: #c7d4d4;
  --color-text: #333333;
  --color-dark-text: #111111;
  --color-border: #cccccc;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 17px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
