@import './base.scss';

#app {
  font-weight: normal;
}

html {
  scroll-behavior: smooth
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  text-decoration: none;
  color: var(--color-text);
  transition: 0.4s;
}

h2 {
  font-size: 30px;
  font-weight: 500;

  @media (min-width: $tablet-width) {
    font-size: 35px;
  }

  @media (min-width: $desktop-width) {
    font-size: 40px;
  }
}

.container {
  width: 100%;
  margin: 0 auto;
  max-width: 1400px;
}

.section {
  scroll-margin-top: 60px;
}

img {
  max-width: 100%;
  object-fit: contain;
}

@media (hover: hover) {
  a:hover {
    // background-color: hsla(160, 100%, 37%, 0.2);
    // color: hsla(160, 100%, 37%, 0.2);
    // background-color: var(--color-accent);
    // color: var(--color-dark-text);
  }
}

@media (min-width: 1024px) {
  body {
    /* display: flex;
    place-items: center; */
  }

  #app {
    /* display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem; */
  }
}
