@import './base.scss';

#app {
  /* max-width: 1280px;
  margin: 0 auto;
  padding: 2rem; */
  /* padding: 2rem; */
  font-weight: normal;
}

html {
  scroll-behavior: smooth
}

// #app {
//   display: grid;
//   grid-template-rows: auto 1fr auto;
//   min-height: 100vh;
//   grid-template-columns: 100%;
// }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

.container {
  width: 100%;
  margin: 0 auto;
  max-width: 1400px;
}

.section {
  scroll-margin-top: 60px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    /* display: flex;
    place-items: center; */
  }

  #app {
    /* display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem; */
  }
}
